@charset "utf-8";

/* main */
#mcsMain {
  opacity: 0;
  -webkit-animation: fadeIn 1s forwards ease-in-out;
  -ms-animation: fadeIn 1s forwards ease-in-out;
  animation: fadeIn 1s forwards ease-in-out;
}
/* section1 */
#mainSlide {
  position: relative;
  width: 100%;
  height: 100vh;
}
#mainSlide .swiper-slide {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.pagination-area {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 1108px;
  margin: 0 auto;
  padding-left: 40px;
}
.btn-play-row {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 10;
}
.btn-play-row button img {
  width: 28px;
}
.btn-play {
  display: none;
}

#mcsMain #fp-nav.fp-right {
  right: 87px;
}
#mcsMain #fp-nav.fp-right:after {
  content: '6';
  position: absolute;
  top: 48px;
  left: 12px;
  color: rgba(255,255,255,0.5);
  font-family: var(--font-en);
  font-size: var(--font-small);
  font-weight: 300;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#mcsMain #fp-nav.fp-right:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 42px;
  left: 5px;
  width: 20px;
  height: 1px;
  background: rgba(255,255,255,0.5);
}
#mcsMain #fp-nav ul li {
  position: absolute;
  top: 0;
  left: -4px;
}
#mcsMain #fp-nav ul li a span {
  display: none;
  width: 0;
  height: 0;
}
#mcsMain #fp-nav ul li a span:after {
  display: inline-block;
  width: 24px;
  color: #fff;
  font-family: var(--font-en);
  font-size: 2rem;  
  text-align: center;
}
#mcsMain #fp-nav ul li a.active span {
  display: block;
}
#mcsMain #fp-nav ul li:nth-child(1) a span:after {
  content: '1';
}
#mcsMain #fp-nav ul li:nth-child(2) a span:after {
  content: '2';
}
#mcsMain #fp-nav ul li:nth-child(3) a span:after {
  content: '3';
}
#mcsMain #fp-nav ul li:nth-child(4) a span:after {
  content: '4';
}
#mcsMain #fp-nav ul li:nth-child(5) a span:after {
  content: '5';
}
#mcsMain #fp-nav ul li:nth-child(6) a span:after {
  content: '6';
}
#moveSection {
  position: fixed;
  top: 50%;
  right: 85px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#moveSection span {
  display: inline-block;
  position: absolute;  
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}
#moveSection span:hover {
  background-color: rgba(255,255,255,0.4);
}
#moveSection span.up {
  top: -30px;
  left: 0;
}
#moveSection span.down {
  top: 75px;
  left: 0;
}
#moveSection span:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
#moveSection span.up:after {
  top: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#moveSection.first span.up:after {
  top: 13px;
  left: 9;
  width: 10px;
  height: 1px;
  background: var(--color-white);
  border: none;
  transform: none;
} 
#moveSection.first span.up:hover {
  background-color: rgba(255,255,255,0.2);
}
#moveSection span.down:after {
  top: 8px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
#moveSection.black span {
  background-color: rgba(83, 88, 90, 0.2);
}
#moveSection.black span:hover {
  background-color: rgba(83, 88, 90, 0.4);
}
#mcsMain #fp-nav.black ul li a span:after,
#mcsMain #fp-nav.black.fp-right:after {
  color: var(--color-black);
}
#mcsMain #fp-nav.black.fp-right:before {
  background: var(--color-black);
}
.btn-top {
  position: fixed;
  right: 2px;
  bottom: 115px;
  padding: 5px 5px 5px 106px;
  font-family: var(--font-en);
  font-size: var(--font-micro);
  font-weight: var(--font-bold);
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-top.visible {
  visibility: visible;
  opacity: 1;
}
.btn-top .top-line {
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 91px;
  height: 1px;
  background: rgba(0,8,20,0.1);
  overflow: hidden;
}
.btn-top .top-line:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: -16px;
  width: 16px;
  height: 1px;
  background: rgba(0,8,20,0.6);
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.btn-top:hover .top-line:after {
  right: 100%;
}
.btn-top.white {
  color: var(--color-white);
}
.btn-top.white .top-line {
  background: rgba(255,255,255,0.3);
}
.btn-top.white .top-line:after {
  background: rgba(255,255,255,0.8);
}
#mainSlide.swiper-container-horizontal .swiper-pagination-bullets {
  bottom: 0;
}
#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet {
  position: relative;
  width: 298px;
  height: 2px;
  margin: 0 14px;
  padding-top: 28px;
  background: none;
  border-radius: 0;
  opacity: 1;
}
#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(0,0,0,0) !important;
  background-color: rgba(0,0,0,0) !important;
}
#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-white);
}
#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active span {
  -webkit-animation: progressBar 6s linear forwards;  
  -ms-animation: progressBar 6s linear forwards;  
  animation: progressBar 6s linear forwards;  
}

#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active span.video1progress {
  -webkit-animation: progressBar 13s linear forwards;  
  -ms-animation: progressBar 13s linear forwards;  
  animation: progressBar 13s linear forwards;  
}

#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active span.video2progress {
  -webkit-animation: progressBar 6s linear forwards;  
  -ms-animation: progressBar 6s linear forwards;  
  animation: progressBar 6s linear forwards;  
}

#mainSlide .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active span.video3progress {
  -webkit-animation: progressBar 8s linear forwards;  
  -ms-animation: progressBar 8s linear forwards;  
  animation: progressBar 8s linear forwards;  
}
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width:100%;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width:100%;
  }
}
#mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--color-white);
  opacity: 0.2;
}
#mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  opacity: 1;
}
#mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet:nth-child(1):before {
  content: '01. Connect Energy to People';
}
#mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet:nth-child(2):before {
  content: '02. Total Energy Solution Provider';
}
#mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet:nth-child(3):before {
  content: '03. Multisector Coupling Specialist';
}
#mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.2);
}
.video-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* big size video */
.video-wrap video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* .video-wrap video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
.slide-ani.animate {
  position: relative;
  top: 40px;
  opacity: 0;
  -webkit-animation: fadeInUp 0.5s forwards ease-out 1.2s;
  -ms-animation: fadeInUp 0.5s forwards ease-out 1.2s;
  animation: fadeInUp 0.5s forwards ease-out 1.2s;
}
.slide_02 .slide-ani.animate,
.slide_03 .slide-ani.animate {
  -webkit-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.slide-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slide-desc h1 {
  font-family: var(--font-en);
  font-size: 4.5rem;
  font-weight: var(--font-semibold);
  line-height: 1.2;
  letter-spacing: -2px;
}
.slide-desc p {
  margin-top: 36px;
  font-size: var(--font-regular);
  line-height: 1.6;
}
.scroll-down {
  position: absolute;
  right: 23px;
  bottom: 208px;
  color: var(--color-white);
  font-family: var(--font-en);
  font-size: var(--font-micro);
  z-index: 10;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.line {
  position: absolute;
  top: 4px;
  left: 104px;
  width: 80px;
  height: 1px;
  background: rgba(255,255,255,0.3);
}
.line:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  -webkit-animation: scrollDown 1.2s ease infinite;
  -ms-animation: scrollDown 1.2s ease infinite;
  animation: scrollDown 1.2s ease infinite;
}
@-webkit-keyframes scrollDown {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0.1;
  }  
}
@keyframes scrollDown {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0.1;
  } 
}
/* section2 */
#section2 {
  background: url(/resources/landing/images/main/bg_section2_1.png) no-repeat left bottom, url(/resources/landing/images/main/bg_section2_2.png) no-repeat right top;
  background-color: #EDF3F4;
}
.content-wrap {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px 20px 0;
}
.section-head {
  position: relative;
  top: 30px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out 0.2s;
  -ms-transition: all 0.5s ease-out 0.2s;
  transition: all 0.5s ease-out 0.2s;
}
.content-wrap.animate .section-head {
  top: 0;
  opacity: 1;
}
.section-head h3 {
  font-family: var(--font-en);
  font-size: 4rem;
  font-weight: var(--font-bold);
  text-align: center;
  letter-spacing: -2px;
}
.desc_01 {
  margin-top: 20px;
  font-size: var(--font-medium);
  text-align: center;
  line-height: 1.6;
}
.business {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
  margin-top: 108px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out 0.9s;
  -ms-transition: all 0.5s ease-out 0.9s;
  transition: all 0.5s ease-out 0.9s;
}
.content-wrap.animate .business {
  top: 0;
  opacity: 1;
}
.business li {
  position: relative;
  top: 0;
  width: 23.3593%;
  padding-bottom: 62px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgb(0,0,0,0.1);
}
.business li:nth-child(1),
.business li:nth-child(2),
.business li:nth-child(3),
.business li:nth-child(4) {
  -webkit-transition: all 0.4s ease-out 1.5s;
  -ms-transition: all 0.4s ease-out 1.5s;
  transition: all 0.4s ease-out 1.5s;
}
.content-wrap.animate .business li:nth-child(1),
.content-wrap.animate .business li:nth-child(3) {
  top: -30px;
}
.content-wrap.animate .business li:nth-child(2),
.content-wrap.animate .business li:nth-child(4) {
  top: 30px;
}
.business li img {
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-out;
}
.business li:hover img {
  transform: scale(1.05);
}
.business-desc {
  position: absolute;
  bottom: -84px;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 26px 20px;
  background: var(--color-white);  
  transition: all 0.4s ease-out;
}
.business li:hover .business-desc {
  bottom: 0;
} 
.num {
  position: absolute;
  top: -30px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: var(--color-green);
  border-radius: 50%;
  color: var(--color-white);
  font-family: var(--font-en);
  font-weight: var(--font-light);
  font-size: var(--font-large);
  text-align: center;
  line-height: 60px;
}
.desc_02 {
  font-family: var(--font-noto);
  font-size: var(--font-regular);
  font-weight: var(--font-bold);
}
.desc_03 {
  margin-top: 20px;
  font-size: var(--font-smaller);
  line-height: 1.6;
}
/* section3 */
#section3 {
  background: url(/resources/landing/images/main/bg_section3.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
}
.energy {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.energy li {
  width: 16.25%;
}
.energy li>div {
  position: relative;
}
.icon-wrap {
  position: relative;
}
.energy-circle {
  position: absolute;
  top: 4.8076%;
  left: 4.8076%;
  width: 90.3846%;
  height: 90.3846%;
  border: 60px solid var(--color-light-blue);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3) rotateY(0deg);
  -ms-transform: scale3d(0.3, 0.3, 0.3) rotateY(0deg);
  transform: scale3d(0.3, 0.3, 0.3) rotateY(0deg);
}
.energy li:nth-child(1) .icon-wrap.visible .energy-circle {
  animation: zoomInRotate 0.8s forwards 0.6s;  
}
.energy li:nth-child(2) .icon-wrap.visible .energy-circle {
  animation: zoomInRotate 0.8s forwards 1s;  
}
.energy li:nth-child(3) .icon-wrap.visible .energy-circle {
  animation: zoomInRotate 0.8s forwards 1.4s;  
}
.energy li:nth-child(4) .icon-wrap.visible .energy-circle {
  animation: zoomInRotate 0.8s forwards 1.8s;  
}
.energy li:nth-child(5) .icon-wrap.visible .energy-circle {
  animation: zoomInRotate 0.8s forwards 2.2s;  
}

@-webkit-keyframes zoomInRotate {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3) rotateY(0);
    transform: scale3d(0.3, 0.3, 0.3) rotateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotateY(0);
    transform: scale3d(1, 1, 1) rotateY(0);
  }
  94% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}
@keyframes zoomInRotate {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3) rotateY(0);
    transform: scale3d(0.3, 0.3, 0.3) rotateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotateY(0);
    transform: scale3d(1, 1, 1) rotateY(0);
  }
  94% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}

.energy-icon {
  position: relative;
  top: 8px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.energy-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 136px;  
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  z-index: 0;
}
.energy-desc>span {
  position: relative;
  top: 0;
  -webkit-transition: top 0.4s ease-out;
  -ms-transition: top 0.4s ease-out;
  transition: top 0.4s ease-out;
}
.energy li:hover .energy-desc>span {
  top: -7px;
}
.energy li:nth-child(1) .energy-icon,
.energy li:nth-child(1) .energy-desc {
  -webkit-transition: all 0.3s 1.3s;
  -ms-transition: all 0.3s 1.3s;
  transition: all 0.3s 1.3s;
}
.energy li:nth-child(2) .energy-icon,
.energy li:nth-child(2) .energy-desc {
  -webkit-transition: all 0.3s 1.7s;
  -ms-transition: all 0.3s 1.7s;
  transition: all 0.3s 1.7s;
}
.energy li:nth-child(3) .energy-icon,
.energy li:nth-child(3) .energy-desc {
  -webkit-transition: all 0.3s 2.1s;
  -ms-transition: all 0.3s 2.1s;
  transition: all 0.3s 2.1s;
}
.energy li:nth-child(4) .energy-icon,
.energy li:nth-child(4) .energy-desc {
  -webkit-transition: all 0.3s 2.5s;
  -ms-transition: all 0.3s 2.5s;
  transition: all 0.3s 2.5s;
}
.energy li:nth-child(5) .energy-icon,
.energy li:nth-child(5) .energy-desc {
  -webkit-transition: all 0.3s 2.9s;
  -ms-transition: all 0.3s 2.9s;
  transition: all 0.3s 2.9s;
}
.icon-wrap.visible .energy-icon {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.icon-wrap.visible .energy-desc {
  top: 128px;
  opacity: 1;
}
.btn-row_04 {
  position: relative;
  top: 30px;
  opacity: 0;
  margin-top: 100px;
  text-align: center;
}
#section3 .btn-row_04.visible {
  -webkit-animation: fadeInUp 0.5s forwards ease-out 3.2s;
  -ms-animation: fadeInUp 0.5s forwards ease-out 3.2s;
  animation: fadeInUp 0.5s forwards ease-out 3.2s;
}
/* section4 */
#section4 {
  background: #EFF3F4;
  overflow: hidden;
}
#section4 .content-wrap {
  position: relative;
  height: 100%;
}
#section4 .section-head {
  position: absolute;
  left: 20px;
  top: 50%;
  opacity: 1 !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-head-ani {
  position: relative;
  top: 30px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out 0.2s;
  -ms-transition: all 0.5s ease-out 0.2s;
  transition: all 0.5s ease-out 0.2s;
}
.content-wrap.animate .section-head-ani {
  top: 0;
  opacity: 1;
}
#section4 .section-head h3 {
  text-align: left;
}
#section4 .section-head .desc_01 {
  font-family: var(--font-noto);
  text-align: left;
}
#section4 .section-head .desc_01 b {
  font-weight: var(--font-bold);
}
.btn-row_03 {
  margin-top: 60px;
}
.people-photo {
  display: flex;
  justify-content: right;
  position: absolute;
  top: 80px;
  right: 20px;
  transition: all 1s ease-out 3.5s;
}
.people-photo>div:nth-child(1) {
  width: 399px;
}
.people-photo>div:nth-child(2) {
  width: 299px;
  margin-left: 28px;
}
.photo-left {
  padding-top: 120px;
}
.people-photo>div ul li {
  position: relative;
  margin-bottom: 28px;
}
.people-photo>div ul li img {
  width: 100%;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.photo-left li {
  text-align: right;
}
.photo-box {
  position: relative;
  top: 30px;
  opacity: 0;
}
.people-photo.visible .photo-right li:nth-child(1) .photo-box {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0.5s;
  -ms-transition: all 0.4s ease-out 0.5s;
  transition: all 0.4s ease-out 0.5s;
}
.people-photo.visible .photo-left li:nth-child(1) .photo-box {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 1s;
  -ms-transition: all 0.4s ease-out 1s;
  transition: all 0.4s ease-out 1s;
}
.people-photo.visible .photo-right li:nth-child(2) .photo-box {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 1.5s;
  -ms-transition: all 0.4s ease-out 1.5s;
  transition: all 0.4s ease-out 1.5s;
}
.people-photo.visible .photo-left li:nth-child(2) .photo-box {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 2s;
  -ms-transition: all 0.4s ease-out 2s;
  transition: all 0.4s ease-out 2s;
}
.people-photo.visible .photo-right li:nth-child(3) .photo-box {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 2.5s;
  -ms-transition: all 0.4s ease-out 2.5s;
  transition: all 0.4s ease-out 2.5s;
}
.people-photo.visible .photo-left li:nth-child(3) .photo-box,
.people-photo.visible .photo-right li:nth-child(4) .photo-box,
.people-photo.visible .photo-left li:nth-child(4) .photo-box,
.people-photo.visible .photo-right li:nth-child(5) .photo-box {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 3s;
  -ms-transition: all 0.4s ease-out 3s;
  transition: all 0.4s ease-out 3s;
}
.photo-left li:nth-child(1) .photo-img,
.photo-left li:nth-child(3) .photo-img {
  width: 74.9373%;
}
.photo-left li:nth-child(2) .photo-img,
.photo-left li:nth-child(4) .photo-img {
  width: 100%;
}
.people-photo>div:nth-child(2) ul img {
  width: 100%;
}
.people-photo .photo-img {
  overflow: hidden;
}
.people-photo>div ul li:hover .photo-img {
  box-shadow: 10px 20px 30px rgba(0,0,0,0.2);
  transition: all 0.3s;
}
.people-photo>div ul li:hover img {
  
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.photo-box {
  display: flex;
  justify-content: flex-end;
}
.photo-desc {
  position: absolute;
  bottom: 72px;
  right: -42px;
  color: var(--color-white);
  font-size: var(--font-micro);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.photo-left>li:nth-child(1) .photo-desc {
  right: -30px;
  bottom: 64px;
}
.photo-right>li:nth-child(2) .photo-desc {
  bottom: 37px;
  right: -6px;
}
/* section5 */
#section5 {
  background: url(/resources/landing/images/main/bg_section5_1.png) no-repeat left bottom, url(/resources/landing/images/main/bg_section5_2.png) no-repeat right top;
  background-color: #FDFDFD;
}
.notice {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.notice li {
  width: 31.875%;
  margin-right : 60px
}
.notice-li {
  position: relative;
  top: 30px;
  opacity: 0;
  box-shadow: 10px 20px 30px rgba(0,0,0,0.14);
}
.notice.visible li:nth-child(1) .notice-li {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out 0.6s;
  -ms-transition: all 0.5s ease-out 0.6s;
  transition: all 0.5s ease-out 0.6s;
}
.notice.visible li:nth-child(2) .notice-li {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out 1s;
  -ms-transition: all 0.5s ease-out 1s;
  transition: all 0.5s ease-out 1s;
}
.notice.visible li:nth-child(3) .notice-li {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out 1.4s;
  -ms-transition: all 0.5s ease-out 1.4s;
  transition: all 0.5s ease-out 1.4s;
}
.notice-li-wrap {
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.notice li:hover .notice-li-wrap {
  top: -20px;
}
.notice-photo {
  height: 300px;
}
.notice-photo_01 {
  background: url(/resources/landing/images/main/notice1.jpg) no-repeat center center;
  background-size: cover;
}
.notice-photo_02 {
  background: url(/resources/landing/images/main/notice2.jpg) no-repeat center center;
  background-size: cover;
}
.notice-photo_03 {
  background: url(/resources/landing/images/main/notice3.jpg) no-repeat center center;
  background-size: cover;
}
.notice-desc {
  position: relative;
  padding: 18px 20px;
  background: var(--color-white);
}
.desc_04 {
  color: var(--color-green);
  font-family: var(--font-robo);
  font-size: var(--font-small);
}
.desc_05 {
  width: 100%;
  font-family: var(--font-noto);
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-desc .desc_05 {
  padding-right: 80px;
}
.notice-desc .desc_05 {
  margin-top: 14px;
  padding-bottom: 4px;
}
.date {
  margin-top: 18px;
  color: #8A8F91;
  font-family: var(--font-robo);
  font-size: var(--font-small);
}
.more {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--color-green);
}
.more span {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 23px;
  height: 23px;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.more span:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 23px;
  height: 1px;
  background: var(--color-white);
}
.more span::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 11px;
  width: 1px;
  height: 23px;
  background: var(--color-white);
}
.notice li:hover .more span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btn-row_01 {
  margin-top: 40px;
  text-align: center;
}
#section5 .btn-row_01 {
  position: relative;
  top: 30px;
  opacity: 0;
}
#section5 .btn-row_01.visible {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out 1.8s;
  -ms-transition: all 0.5s ease-out 1.8s;
  transition: all 0.5s ease-out 1.8s;
}
/* section6 */
#section6 {
  background: var(--color-grey2);
}
.customer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 551px;
}
.customer-video {
  position: relative;
  width: 57.4218%;
  height: 551px;
}
.video-area {
  position: relative;
  box-shadow: none;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out 0.7s;
  -ms-transition: all 0.3s ease-out 0.7s;;
  transition: all 0.3s ease-out 0.7s;;
}
.customer-video:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 102%;
  height: 554px;
  background: var(--color-grey2);
  -webkit-transition: all 0.4s ease-out 0.3s; 
  -ms-transition: all 0.4s ease-out 0.3s; 
  transition: all 0.4s ease-out 0.3s; 
}
.customer.visible .video-area {
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}
.customer.visible .customer-video:after {
  width: 0;
}
.video-box {
  position: relative;
  width: 100%;
  height: 551px;
  background: url(/resources/landing/images/main/img_video_20210818.png) no-repeat center center;
  background-size: cover; 
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;  
}
.customer-video:hover .video-box {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.video-info {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white);
  font-family: var(--font-en);
  font-size: 2rem;
  font-weight: var(--font-semibold);
  text-align: center;  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-info2 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  color: var(--color-white);
  font-family: var(--font-en);
  font-size: 2rem;
  font-weight: var(--font-semibold);
  text-align: center;  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-info2 iframe {

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;

}
.video-info2>p:nth-child(1) {
  line-height: 1.2;
}
.video-info>p:nth-child(1) {
  line-height: 1.2;
}
.btn-video-play {
  position: relative;
  width: 99px;
  height: 99px;
  margin: 13px auto 0;
  cursor: pointer;
}
.btn-video-play:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/resources/landing/images/main/play_circle.png) no-repeat center center;
  background-size: cover;  
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;   
}
.customer-video:hover .btn-video-play:before {
  transform: rotate(180deg);
}
.btn-video-play:after {
  content: '';
  position: absolute;
  top: 33px;
  left: 34px;
  width: 38px;
  height: 41px;
  background: url(/resources/landing/images/main/play.png) no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;   
}
.customer-video:hover .btn-video-play:after {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
.video-wide-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 60;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.video-wide-wrap.visible {
  visibility: visible;
  opacity: 1;
}
.video-wide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 630px;
  max-width:1130px;
  margin: 0 auto;
  background-color:black;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.btn-close:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 26px;
  height: 1px;
  background: var(--color-white);
  transform: rotate(45deg);
}
.btn-close:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 26px;
  height: 1px;
  background: var(--color-white);
  transform: rotate(135deg);
}
.customer-info_01 {
  position: relative;
  width: 40.39%;
  height: 170px;
  padding: 32px 190px 32px 32px;
  background: var(--color-white);
}
.customer-info_02 {
  position: relative;
  width: 40.39%;
  height: 170px;
  padding: 32px 32px 32px 190px;
  background: var(--color-white);
  text-align: right;
}
.customer-info_03 {
  position: relative;
  width: 40.39%;
  height: 170px;
  padding: 32px 190px 32px 32px;
  background: var(--color-white);
}
.bg_area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: all 0.5s ease-out 2.4s; 
  -ms-transition: all 0.5s ease-out 2.4s; 
  transition: all 0.5s ease-out 2.4s; 
}
.customer-info_01 .bg_area {
  right: 0;
  background: url(/resources/landing/images/main/bg_cs4.jpg) no-repeat center center;
  background-size: cover;
}
.customer.visible .customer-info_01 .bg_area {
  width: 36.7505%;
}
.customer-info_02 .bg_area {
  left: 0;
  background: url(/resources/landing/images/main/bg_cs1.jpg) no-repeat center center;
  background-size: cover;
}
.customer.visible .customer-info_01 .bg_area {
  width: 36.7505%;
}
.customer.visible .customer-info_02 .bg_area {
  width: 36.7505%;
}
.customer-info_03 .bg_area {
  right: 0;
  background: url(/resources/landing/images/main/bg_cs3.jpg) no-repeat center center;
  background-size: cover;
}
.customer.visible .customer-info_03 .bg_area {
  width: 36.7505%;
}
.customer-info_01:after,
.customer-info_02:after,
.customer-info_03:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 102%;
  height: 102%;
  background: var(--color-grey2);
  z-index: 50;
}
.customer.visible .customer-info_01:after {
  width: 0;
  -webkit-transition: all 0.5s ease-out 0.9s; 
  -ms-transition: all 0.5s ease-out 0.9s; 
  transition: all 0.5s ease-out 0.9s; 
}
.customer.visible .customer-info_02:after {
  width: 0;
  -webkit-transition: all 0.5s ease-out 1.4s; 
  -ms-transition: all 0.5s ease-out 1.4s; 
  transition: all 0.5s ease-out 1.4s;
}
.customer.visible .customer-info_03:after {
  width: 0;
  -webkit-transition: all 0.5s ease-out 1.9s; 
  -ms-transition: all 0.5s ease-out 1.9s; 
  transition: all 0.5s ease-out 1.9s; 
}
.customer.visible .custom {
  -webkit-transition: all 0.5s ease-out 1.4s; 
  -ms-transition: all 0.5s ease-out 1.4s; 
  transition: all 0.5s ease-out 1.4s; 
}
.tit1 {
  font-size: var(--font-larger);
  font-weight: var(--font-bold);
}
.desc_06 {
  margin-top: 16px;
  line-height: 1.6;
} 
.btn-row_02 {
  margin-top: 48px;
}
.customer .btn-black {
  position: absolute;
  bottom: 32px;
}
.customer .customer-info_01 .btn-black {
  left: 32px;
}
.customer .customer-info_02 .btn-black {
  right: 32px;
}
  .bannerdiv {
  	width:40vh;
  	/* min-height: 200px; */
  }
  .bannerimg{
  	width:39vh;
  }
  .bannerbox
  {
  	position:absolute; 
  	top:50%;
  	margin-top:-300px; 
  	left:50%;
  	margin-left:-300px; 
  	z-index:99999;
  }

/* responsive */
@media all and (max-width: 1520px) {
  /* section2 */
  .content-wrap {
    width: 84%;
  }
  .business-desc {
    bottom: -98px;
    height: 164px;
    padding: 26px 16px;
  }  
  /* section3 */
  .energy li {
    width: 18%;
  }
  /* section4 */
  #section4 .section-head h3 {
    font-size: 3.125rem;
  }
  #section4 .desc_01 {
    font-size: var(--font-regular);
  }
  .people-photo>div:nth-child(1) {
    width: 319.2px;
  }
  .people-photo>div:nth-child(2) {
    width: 239.2px;
  }
}

@media all and (max-width: 1360px) {
  /* section6 */
  .video-wide {
    width: 76%;
    height: 500px;
  }
}

@media all and (min-width:1281px) and (max-width: 1360px) {
  /* section3 */
  .energy li {
    width: 19%;
  }
}

@media all and (max-width: 1280px) {
  .pagination-area {
    width: 560px;
  }
  #mainSlide .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 140px;
  }
  #mainSlide .swiper-pagination-bullets>.swiper-pagination-bullet:before {
    opacity: 0 !important;
  }
  .btn-play-row {
    bottom: -13px;
  }
  /* section2 */
  .content-wrap {
    width: 88%;
  }
  #moveSection {
    right: 60px;
  }
  #mcsMain #fp-nav.fp-right {
    right: 61px;
  }
  .business li:hover .business-desc {
    bottom: -98px;
  }   
  .num {
    top: -25px;
    right: 12px; 
    width: 50px;
    height: 50px;
    line-height: 50px;
  }  
  .business-desc .desc_02 {
    font-size: 1rem;
  }
  .business-desc .desc_03 {
    margin-top: 22px;
  }
  /* section5 */
  .more {
    width: 40px;
    height: 40px;
  }
  .more span {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
  .more span:before {
    top: 8px;
    width: 18px;
  }
  .more span::after {
    left: 9px;
    height: 18px;
  }
  .notice-desc .desc_05 {
    padding-right: 30px;
    font-size: var(--font-regular);
  }
  /* section6 */
  .customer-info_01 {
    padding: 24px 180px 24px 24px;
  }
  .customer-info_02 {
    padding: 24px 24px 24px 180px;
  }
  .customer .btn-black {
    padding: 16px 30px 16px 16px;
    font-size: var(--font-small);
  }
  .customer .btn-black:after {
    top: 23px;
    right: 5px;
  }
  .customer .customer-info_01 .btn-black {
    left: 24px;
  }
  .customer .customer-info_02 .btn-black {
    right: 24px;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  /* section3 */
  .energy li {
    width: 22%;
  }
  .icon-wrap.visible .energy-desc {
    top: 110px;
  }
  /* section4 */
  #section4 .section-head h3 {
    font-size: 2.75rem;
  }
  #section4 .desc_01 {
    font-size: 1rem;
  } 
  .people-photo>div:nth-child(1) {
    width: 259.35px;
  }
  .people-photo>div:nth-child(2) {
    width: 194.35px;
  } 
}

@media all and (min-width:960px) and (max-width: 1024px) {
  /* section3 */
  #section3 .content-wrap {
    padding-top: 120px;
  }
  .energy {
    flex-wrap: wrap;
    justify-content: center;
  }
  .energy li {
    width: 24%;
    margin: 0 20px 20px 0;
  }
  /* section4 */
  #section4 .section-head h3 {
    font-size: 2.5rem;
  }
  #section4 .desc_01 {
    font-size: 1rem;
  }
  .people-photo>div:nth-child(1) {
    width: 239.4px;
  }
  .people-photo>div:nth-child(2) {
    width: 179.4px;
  }
}

@media all and (min-width:768px) and (max-width: 1024px) {
  .slide-desc h1 {
    font-size: 3.125rem;
  }  
}

@media all and (max-width: 959px) {
  #section4 .section-head {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #section4 .section-head h3 {
    text-align: center;
  }
  #section4 .section-head .desc_01 {
    text-align: center;
  }
  .people-photo {
    justify-content: center;
    position: relative;
    top: 0 !important;
    margin-top: 60px;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .people-photo>div:nth-child(1) {
    width: 43%;
  }
  .people-photo>div:nth-child(2) {
    width: 41%;
  }
  .photo-left {
    padding-top: 180px;
  }
  .photo-left li:nth-child(1) img, 
  .photo-left li:nth-child(3) img {
    width: 100%;
  }
  .people-photo>div:nth-child(2) {
    margin-left: 18px;
  }
  .people-photo>div ul li {
    margin-bottom: 18px;
  }
  .photo-left li:nth-child(1) .photo-img, 
  .photo-left li:nth-child(3) .photo-img {
    width: 100%;
  }
  .photo-desc {
    display: none;
  }
  /* section6 */
  .customer {
    flex-wrap: wrap;
    height: auto;
  }
  .customer-video {
    width: 100%;
  }
  .customer-info_01 {
    width: 100%;
    margin-top: 40px;
  }
  .customer-info_02 {
    width: 100%;
    margin-top: 40px;
  }
}

@media all and (min-width:768px) and (max-width: 959px) {
  .bannerdiv {
  	width:40vh; 
  }
    .bannerimg{
  	width:39vh;
  }
  .bannerbox
  {
  	position:absolute; 
  	top:50%;
  	margin-top:-250px; 
  	left:50%;
  	margin-left:-250px; 
  	z-index:99999;
  }
  #mcsMain {
    overflow-x: hidden;
  }
  #mcsMain #fp-nav.fp-right {
    display: none !important;
  }
  #moveSection {
    top: auto;
    right: auto;
    left: 26px;
    bottom: 60px;
  }
  #moveSection span.down {
    top: 4px;
  }
  /* section2 */
  .content-wrap {
    padding: 100px 0;
  }
  .business-wrap {
    margin-top: 60px;
  }
  .business {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .business li {
    top: 0 !important;
    width: 46%;
    margin-bottom: 30px;
    transition: none !important;
  }
  .section-head h3 {
    font-size: 3.125rem;
  }
  .section-head .desc_01 {
    font-size: var(--font-regular);
  }
  /* section3 */
  .energy {
    flex-wrap: wrap;
    justify-content: center;
  }
  .energy li {
    width: 30%;
  }
  /* section6 */
  .customer.visible .customer-info_01 .bg_area {
    width: 50%;
  } 
  .customer.visible .customer-info_02 .bg_area {
    width: 50%;
  }
  .customer.visible .customer-info_03 .bg_area {
    width: 50%;
  } 
}

@media all and (max-width: 767px) {
  .bannerdiv {
  	width:40vh;
  }
    .bannerimg{
  	width:39vh;
  }
  .bannerbox
  {
  	position:absolute; 
  	top:50%;
  	margin-top:-200px; 
  	left:50%;
  	margin-left:-200px; 
  	z-index:99999;
  }
  #mcsMain {
    overflow-x: hidden;
  }  
  .slide-desc {
    transform: translate(-50%, -58%);
  }
  .slide-desc h1 {
    font-size: 2.75rem;
  }
  .slide-desc p {
    margin-top: 20px;
    font-size: 1rem;
  }
  .pagination-area {
    width: 148px;
    bottom: 32%;
  }
  #mainSlide .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 32px;
    margin: 0 2px;
  }
  .scroll-down {
    right: 6px;
    bottom: 108px;
  }
  .line {
    width: 40px;
    left: 64px;
  }
  .line:after {
    width: 8px;
  }
  #mcsMain #fp-nav.fp-right {
    display: none !important;
  }
  #moveSection {
    top: auto;
    right: auto;
    left: 26px;
    bottom: 60px;
  }
  #moveSection span.down {
    top: 4px;
  }  
  /* section2 */
  #section2 {
    background: none;
    background-color: #EDF3F4;
  }
  .content-wrap {
    width: 100%;
    padding: 60px 20px;
  }
  #section2 .content-wrap {
    padding: 60px 0;
  } 
  .section-head h3 {
    font-size: var(--font-largest);
  }
  .section-head {
    top: 0;
    opacity: 1;
  }
  .section-head .desc_01 {
    padding: 0 30px;
    color: #8A8F91;
    font-size: 1rem;
  }
  .business-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 48px;
    padding-right: 48px;
  }
  .business {
    display: inline-flex;
    top: 0;
    width: 1206px;
    margin-top: 32px;
    padding-bottom: 22px;
    opacity: 1;
  }
  .business li {
    top: 0 !important;
    width: 277px;
    transition: none !important;
  }
  /* section3 */
  #section3 .content-wrap {
    padding: 60px 0;
  }
  #section3 .section-head .desc_01 {
    color: var(--color-white);
  }
  .energy-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 48px;
  }
  .energy {
    display: inline-flex;
    width: 1190px;
  }
  .energy li {
    width: 210px;
  }
  #section3  .btn-row_04 {
    display: none;
  }
  .energy-circle {
    display: none;
  }
  .energy-icon {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
  .energy-desc {
    top: 124px !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition: none !important;
  }
  /* section4 */
  #section4 .content-wrap {
    padding: 60px 20px 20px;
  }
  #section4 .section-head h3 {
    font-size: var(--font-largest);
  }
  #section4 .section-head .desc_01 {
    padding: 0;
    font-size: 1rem;
  }
  #section4 .section-head .desc_01 b {
    font-weight: 400;
  }
  .section-head-ani {
    top: 0;
    opacity: 1;
  }
  #section4 .btn-row_03 {
    display: none;
  }
  .people-photo {
    justify-content: space-between;
    right: 0;
    padding-bottom: 40px;
  }
  .people-photo>div:nth-child(1) {
    width: 48.8023%;
  }
  .people-photo>div:nth-child(2) {
    width: 48.8023%;
    margin-left: 0;
  }
  .photo-left {
    padding-top: 112px;
  }
  .people-photo>div ul li {
    margin-bottom: 6px;
  }
  .photo-box {
    top: 0 !important;
    opacity: 1 !important;
  }
  /* section5 */
  #section5 {
    background: none;
  }
  #section5 .content-wrap {
    padding: 60px 0;
  }
  #section5 .desc_01 {
    display: none;
  }
  .notice-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 30px;
  }
  .notice {
    display: inline-flex;
    width: 910px;
  }
  .notice li {
    width: 277px;
  }
  .notice-desc .desc_05 {
    padding-right: 0;
  }
  .more {
    display: none;
  }
  .notice-li {
    top: 0 !important;
    opacity: 1 !important;
    box-shadow: 6px 6px 20px rgb(0,0,0,0.14);
  }
  .notice li:hover .notice-li-wrap {
    top: 0;
  }
  #section5 .btn-row_01 {
    top: 0;
    margin-top: 20px;
    opacity: 1;
  }
  /* section6 */
  .customer-video,
  .video-area {
    height: 251px;
  }
  .customer-info_01,
  .customer-info_02,
  .customer-info_03 {
    height: 106px;
  }
  .customer.visible .customer-info_02 .bg_area {
    width: 31.6417%;
  }
  .customer .btn-black {
    display: none;
  }
  .customer-info_01 .bg_area {
    left: 0;
    right: auto;
  }
  .customer.visible .customer-info_01 .bg_area {
    width: 31.6417%;
  }
  .video-area:after {
    width: 0;
  }
  .customer-info_01:after, .customer-info_02:after {
    width: 0;
  }
  .bg_area {
    width: 31.6417%;
  }
    .customer-info_03 .bg_area {
    left: 0;
    right: auto;
  }
  .customer.visible .customer-info_03 .bg_area {
    width: 31.6417%;
  }

  /* 임시 */
  .video-wide {
    width: 90%;
    height: 200px;
  }
  .btn-close {
    top: -30px;
    right: -2px;
  }
  .btn-close:after,
  .btn-close:before {
    background: var(--color-black);
  }
  .video-info>p:nth-child(1) {
    font-size: var(--font-medium);
  }
  .btn-video-play {
    width: 80px;
    height: 80px;
  }
  .btn-video-play:after {
    top: 23px;
    left: 25px;
  }
  /* 임시 */

  .customer-info_01,
  .customer-info_02 {
    padding: 16px 16px 16px 37.6119%;
    text-align: left;
  }
  .customer .tit1 {
    font-size: var(--font-medium);
  }
  .customer .desc_06 {
    margin-top: 12px;
    font-size: 0.9375rem;
  }
  .btn-top {
    right: -36px;
    bottom: 79px;
  }
  .btn-top .top-line {
    left: 34px;
    width: 61px;
  }

}
